<IfModule mod_rewrite.c>
    RewriteEngine On

    # Nếu URL KHÔNG trỏ tới folder/file/thư viện hiện có
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-l

    # Rewrite về index.php và truyền biến GET `url`
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>
